.jumbotron {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #dad5d4;
}

.jumbotron h1 {
  text-shadow: 0px 0px 8px orangered, 0px 0px 12px orangered,
    0px 0px 16px orangered;

  font-size: 50px;
  color: #251206;
}

#about {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#tugas {
  padding-top: 4rem;
  background-color: #dad5d4;
  padding-bottom: 4rem;
}

#gambar {
  padding-top: 4rem;
  padding-bottom: 9rem;
}

#contact {
  padding-top: 4rem;
  background-color: #dad5d4;
  padding-bottom: 22%;
}

/* CSS untuk Lampu Seri dan Parallel */
.lamp {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: round;
  background-color: gray;
  display: block;
  border-radius: 5px;
}
.lamp.on {
  background-color: rgb(236, 34, 8); /* Warna saat lampu menyala */
}

/* CSS FAN and Clock */
.fan-container {
  text-align: center;
}

.fan {
  position: relative;
  margin-left: 23%;
  width: 200px;
  height: 200px;
  border: 5px double #260cbd;
  border-radius: 50%;
  overflow: hidden;
}

.blade {
  display: flex;
  position: absolute;
  width: 50%;
  height: 40px;
  background-color: #03a303;
  top: 33%;
  left: 50%;
  border-radius: 50%;
  transform-origin: 0% 80%;
  transition: transform 0.1s linear, opacity 1000s ease; /* Tambahkan transisi untuk opacity */
  opacity: 1; /* Mulai dengan bilah tidak terlihat */
}

.blade.visible {
  opacity: 0;
}

#blade1 {
  transform: rotate(0deg);
}
#blade2 {
  transform: rotate(120deg);
}
#blade3 {
  transform: rotate(240deg);
}

.controls {
  margin-top: 5%;
}

.toggle-button {
  padding: 5px 30px;
  border: rounded;
  top: 20%;
  background-color: #0665f5;
  color: rgb(247, 244, 244);
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.toggle-button.on {
  background-color: #28a745; /* Warna hijau (ON) */
}

.toggle-button.off {
  background-color: #d41313; /* Warna abu-abu (OFF) */
}

.toggle-button:hover {
  background-color: #0056b3;
}

.toggle-button:active {
  transform: scale(0.95);
}

.speed-controls {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  gap: 10px;
}

.speedButton {
  position: bottom;
  padding: 5px 15px;
  border: rounded;
  background-color: #ff8800;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.speedButton:hover {
  background-color: #0b1aa1;
}

.clock {
  font-size: 35px;
  font-weight: bold;
  border-style: double;
  border-radius: 5%;
  background-color: #0e920e;
  color: #ffff;
}
